<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div style="display:flex; justify-content: center;">
        <form action="/route/login" method="post">
            <input type="text" placeholder="E-mail ID" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>

    <style>
        form {
            background-color: whitesmoke;
            border-radius: 15px;
            padding: 20px 25px;
            text-align: center;
        }

        input {
            width: 100%;
            margin: 2ch 0;
            border-radius: 10px;
            padding: 15px 20px;
            box-sizing: border-box;
        }

        input:hover {
            outline: none;
        }

        input:focus::placeholder {
            color: transparent;
        }

        button {
            background-color: black;
            color: white;
            padding: 15px 40px;
            border-radius: 10px;
        }

        button:hover {
            cursor: pointer;
        }
    </style>

</body>

</html>